@import './mixins.scss';

.button {
  background-color: #05c489;
  border-radius: 5px;
  padding: 30px 65px;
  width: fit-content;
  font-size: 24px;
  line-height: 30px;
  color:  #00003d;
  text-transform: uppercase;
  letter-spacing: 0.08;

  cursor: pointer;

  @include on-desktop-L {
    font-size: 18px;
    line-height: 23px;
    padding: 21px 50px;
  }

  @include on-desktop-S {
    font-size: 16px;
    padding: 20px 47px;
    line-height: 21px;
  }

  @include tablet {
    font-size: 18px;
    line-height: 23px;
    padding: 15px 76px;
  }

  @include mobile {
    font-size: 16px;
    line-height: 21px;
    padding: 12px 62px;
  }

  &:hover {
    opacity: 0.7;
  }
}