@import './mixins.scss';

.button {
  // display: inline-block;
  background-color: #05c489;
  border-radius: 5px;
  padding: 30px 65px;
  width: fit-content;
  font-size: 24px;
  line-height: 30px;
  color:  #00003d;
  text-transform: uppercase;
  letter-spacing: 0.08;

  position: relative;

  &--top {
    position: absolute;
    height: 2px;
    left: 0;
    right: -100%;
  }

  cursor: pointer;
  // box-sizing: border-box;

  @include on-desktop-L {
    font-size: 18px;
    line-height: 23px;
    padding: 21px 50px;
  }

  @include on-desktop-S {
    font-size: 16px;
    padding: 20px 47px;
    line-height: 21px;
  }

  @include tablet {
    font-size: 18px;
    line-height: 23px;
    padding: 15px 76px;
  }

  &:hover {
    opacity: 0.7;
  }
}