@import './mixins.scss';

@font-face {
  font-family: 'SuisseItl-Regular';
  src: url('./fonts/SuisseIntl-Regular.woff');
  font-weight: normal;
}

@font-face {
  font-family: 'SuisseIntl-SemiBold';
  src: url('./fonts/SuisseIntl-SemiBold.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'WulkanDisplay-SemiBoldItalic';
  src: url('./fonts/WulkanDisplay-SemiBoldItalic.woff');
}

.content {
  position: relative;
  padding-top: 99px;
  box-sizing: border-box;
  font-family: 'SuisseItl-Regular';

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 25;

  color: #fff;

  @include on-desktop-L {
    padding-top: 88px;
  }

  @include on-desktop-S {
    padding-top: 36px;
    align-items: end;
  }

  @include iPad-mini {
    padding-top: 86px;
  }

  &__title {
    background-color: #ff267e;
    font-size: 58px;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 0.03;
    padding: 5px 25px;

    @include on-desktop-L {
      font-size: 42px;
      line-height: 52px;
      padding: 4px 14px;
    }

    @include on-desktop-S {
      font-size: 38px;
      line-height: 58px;
      padding: 0 13px;
    }

    &>span {
      font-family: 'WulkanDisplay-SemiBoldItalic';
    }
  }

  &__bonus {
    font-family: 'SuisseIntl-SemiBold';
    margin-top: 38px;
    text-align: center;
    font-size: 77px;
    line-height: 100px;
    text-transform: uppercase;
    color:  #e8e8e8;
    letter-spacing: 0.03;

    @include on-desktop-L {
      margin-top: 23px;
      font-size: 55px;
      line-height: 71px;
    }

    @include on-desktop-S {
      margin-top: 20px;
      font-size: 50px;
      line-height: 65px;
      text-align: right;
    }

    &>span {
      font-family: 'WulkanDisplay-SemiBoldItalic';
      color: #ff267e;
    }
  }

  &__info {
    font-family: 'SuisseIntl-SemiBold';
    margin-top: 28px;
    align-self: flex-end;
    margin-right: 16px;

    @include on-desktop-L {
      margin-top: 21px;
    }

    @include on-desktop-S {
      margin-top: 20px;
      margin-right: -20px;
    }

    @include iPad-mini {
      margin-right: -7px;
    }
  }

  &__button {
    font-family: 'SuisseIntl-SemiBold';
    margin-top: 38px;

    @include on-desktop-L {
      margin-top: 25px;
    }

    @include on-desktop-S {
      margin-top: 24px;
    }
  }

  &__footer {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 18px;
    margin-right: -38px;

    font-family: 'SuisseItl-Regular';

    @include on-desktop-L {
      margin-bottom: 11px;
      margin-right: -40px;
    }

    @include on-desktop-S {
      margin-bottom: 17px;
      margin-right: -10px;
    }

    @include iPad-mini {
      margin-right: auto;
      margin-left: 15px;
      margin-bottom: 9px;
    }
  }
}