@import './mixins.scss';

.footer {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: end;

  &__text {
    text-align: end;
    font-size: 11px;
    line-height: 13px;
    color: #e8e8e8;
    letter-spacing: 0.02;
  }

  &__icons {
    display: flex;
    gap: 18px;

    &--18plus {
      background-image: url('./images/18plus.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 52px;
      height: 50px;
    }

    &--onjn {
      background-image: url('./images/onjn.png');
      background-repeat: no-repeat;
      background-position: center;
      width: 52px;
      height: 50px;
    }
  }
}