@import './mixins.scss';

.footer {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: end;

  @include on-desktop-L {
    gap: 14px;
  }

  @include iPad-mini {
    flex-direction: column-reverse;
    gap: 10px;
    align-items: flex-start;
  }

  @include tablet {
    gap: 5px;
  }

  @include mobile {
    gap: 4px;
  }

  &__text {
    text-align: end;
    font-size: 11px;
    line-height: 13px;
    color: #e8e8e8;
    letter-spacing: 0.02;

    @include on-desktop-L {
      font-size: 10px;
      line-height: 12px;
    }

    @include iPad-mini {
      text-align: left;
    }

    @include tablet {
      font-size: 7px;
      line-height: 8.5px;
    }

    @include mobile {
      font-size: 6px;
      line-height: 7.2px;
    }
  }

  &__icons {
    display: flex;
    gap: 18px;

    @include on-desktop-L {
      gap: 16px;
    }

    @include iPad-mini {
      flex-direction: column;
      gap: 10px;
    }

    @include tablet {
      gap: 7px;
    }

    @include mobile {
      gap: 6px;
    }

    &--18plus {
      background-image: url('./images/18plus.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 52px;
      height: 50px;

      @include on-desktop-L {
        width: 45px;
        height: 42px;
      }

      @include tablet {
        width: 31px;
        height: 30px;
      }

      @include mobile {
        width: 27px;
        height: 26px;
      }
    }

    &--onjn {
      background-image: url('./images/onjn.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 52px;
      height: 50px;
      
      @include on-desktop-L {
        width: 45px;
        height: 42px;
      }

      @include tablet {
        width: 31px;
        height: 30px;
      }

      @include mobile {
        width: 27px;
        height: 26px;
      }
    }
  }
}