@import './mixins.scss';

.front-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  max-width: 100%;
  height: auto;

  background-image: url('./images/front-image/front-image-1x-XL.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include retina-display {
    background-image: url('./images/front-image/front-image-2x-XL.webp');
  }

  @include on-desktop-L {
    background-image: url('./images/front-image/front-image-1x-L.webp');

    @include retina-display {
      background-image: url('./images/front-image/front-image-2x-L.webp');
    }
  }

  @include on-desktop-S {
    background-image: url('./images/front-image/front-image-1x-S.webp');

    @include retina-display {
      background-image: url('./images/front-image/front-image-2x-S.webp');
    }
  }

  @include iPad-mini {
    background-image: url('./images/front-image/front-image-1x-iPad.webp');
    width: 100%;
      height: auto;

    // @include retina-display {
    //   background-image: url('./images/front-image/front-image-2x-iPad.webp');
    //   width: 100%;
    //   height: auto;
    // }
  }


}