@import './mixins.scss';

.info {
  display: flex;
  gap: 34px;
  align-items: center;

  color: #e8e8e8;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.03;

  @include on-desktop-L {
    font-size: 22px;
    line-height: 28px;
    gap: 26px;
  }

  @include on-desktop-S {
    font-size: 20px;
    line-height: 25px;
    gap: 22px;
  }

  @include iPad-mini {
    gap: 24px;
  }

  @include tablet {
    font-size: 18px;
    line-height: 24px;
    gap: 17px;
  }

  @include mobile {
    gap: 14px;
    font-size: 15px;
    line-height: 20px;
  }

  &__plus-icon {
    background-image: url('./images/pink-white-plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 62px;
    height: 51px;

    @include on-desktop-L {
      width: 44px;
      height: 36px;
    }

    @include on-desktop-S {
      width: 40px;
      height: 34px;
    }

    @include tablet {
      width: 35px;
      height: 28px;
    }

    @include mobile {
      width: 30px;
      height: 25px;
    }
  }

  &__left-side {
    text-align: center;

    @include iPad-mini {
      text-align: center;
    }
  }

  &__right-side {
    text-align: center;

    @include iPad-mini {
      text-align: right;
    }

    @include tablet {
      text-align: center;
    }
  }
}