@import './mixins.scss';

.logo {
  &__logo {
    background-image: url('./images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 474px;
    height: 84px;

    @include on-desktop-L {
      width: 339px;
      height: 60px;
    }

    @include on-desktop-S {
      width: 309px;
      height: 55px;
    }

    @include iPad-mini {
      width: 278px;
      height: 50px;
    }

    @include tablet {
      width: 195px;
      height: 33px;
    }
  }

  &__group {
    width: 208px;
    height: 70px;
    box-sizing: border-box;
    background-color: #000055;
    border: 1px solid #FF267E;
    background-image: url('./images/group.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 166px 28px;
    
    @include on-desktop-L {
      background-size: 119px 21px;
      width: 149px;
      height: 50px;
    }

    @include on-desktop-S {
      background-size: 108px 19px;
      width: 136px;
      height: 46px;
    }

    @include iPad-mini {
      background-size: 97px 17px;
      width: 122px;
      height: 42px;
    }

    @include tablet {
      background-size: 65px 12px;
      width: 81px;
      height: 28px;
    }
  }
}