@mixin retina-display {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
       @content;
    }
}

@mixin on-desktop-L {
  @media (max-width: 1920px) {
    @content;
  }
}

@mixin on-desktop-S {
  @media (max-width: 1365px) {
    @content;
  }
}

@mixin iPad-mini {
  @media (max-width: 1023px) and (orientation: portrait) {
    @content;
  }
}

@mixin salute {
  animation-name: explosion;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
  @content;

  @keyframes explosion {
    0% {
      opacity: 0;
    }

    75% {
      opacity: 1;
    }

    100% {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

@mixin spotlight {
  animation-name: spotlight-move;
  animation-iteration-count: infinite;
  @content;


  @keyframes spotlight-move {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(-2.5deg);
    }

    50% {
      transform: rotate(0deg);
    }

    75% {
      transform: rotate(2.5deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}