@import './mixins.scss';

.night-sky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-image: url('./images/night-sky/night-sky-XL.svg');
  background-size: cover;
  background-repeat: no-repeat;

  @include on-desktop-L {
    background-image: url('./images/night-sky/night-sky-1x-L.webp');

    @include retina-display {
      background-image: url('./images/night-sky/night-sky-2x-L.webp');
    }
  }

  @include on-desktop-S {
    background-image: url('./images/night-sky/night-sky-1x-S.webp');

    @include retina-display {
      background-image: url('./images/night-sky/night-sky-2x-S.webp');
    }
  }

  @include iPad-mini {
    background-image: url('./images/night-sky/night-sky-1x-iPad.webp');

    @include retina-display {
      background-image: url('./images/night-sky/night-sky-2x-iPad.webp');
    }
  }

  @include tablet {
    background-image: url('./images/night-sky/night-sky-1x-Tablet.webp');

    @include retina-display {
      background-image: url('./images/night-sky/night-sky-2x-Tablet.webp');
    }
  }

  @include mobile {
    background-image: url('./images/night-sky/night-sky-1x-Mobile.webp');

    @include retina-display {
      background-image: url('./images/night-sky/night-sky-2x-Mobile.webp');
    }
  }
}