@import './mixins.scss';

.salutes {
  position: absolute;

  &__1 {
    display: block;
    position: absolute;
    background-image: url('./images/salutes/salute1-XL.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 495px;
    height: 505px;
    top: 15.5vh;
    // top: 168px;
    left: 23.5vw;
    // left: 452px;

    @include on-desktop-L {
      width: 352px;
      height: 359px;
      left: 322px;
      top: 120px;
    }

    @include on-desktop-S {
      width: 315px;
      height: 321px;
      top: 202px;
      left: 266px;
    }

    @include iPad-mini {
      width: 268px;
      height: 273px;
      top: 117px;
      left: -57px;
    }

    @include tablet {
      width: 157px;
      height: 160px;
      left: -55px;
      top: 260px;
    }

    @include mobile {
      width: 135px;
      height: 137px;
      left: -38px;
      top: 210px;
    }

    opacity: 0;
    @include salute {
      animation-duration: 5000ms;
    }
  }

  &__2 {
    display: block;
    position: absolute;
    background-image: url('./images/salutes/salute1-XL.svg');
    background-repeat: no-repeat;
    background-position: center;

    width: 445px;
    height: 454px;
    top: 46.5vh;
    // top: 502px;
    left: 42.5vw;
    // left: 818px;

    @include on-desktop-L {
      width: 317px;
      height: 323px;
      left: 580px;
      top: 350px;
    }

    @include on-desktop-S {
      display: none;
    }

    @include iPad-mini {
      display: block;
      width: 268px;
      height: 273px;
      top: 431px;
      left: 225px;
    }

    @include tablet {
      width: 200px;
      height: 240px;
      top: 372px;
      left: 178px;
    }

    @include mobile {
      width: 170px;
      height: 174px;
      top: 355px;
      left: 168px;
    }

    opacity: 0;
    @include salute {
      animation-duration: 4500ms;
    }
  }

  &__3 {
    display: block;
    position: absolute;
    background-image: url('./images/salutes/salute5.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 344px;
    height: 351px;
    // bottom: -22px;
    bottom: -2vh;
    // right: 119px;
    right: 6vw;

    @include on-desktop-L {
      width: 245px;
      height: 250px;
      right: 85px;
      top: 534px;
    }

    @include on-desktop-S {
      width: 214px;
      height: 218px;
      top: 515px;
      right: 76px;
    }

    @include iPad-mini {
      width: 158px;
      height: 162px;
      top: 698px;
      right: 50px;
    }

    @include tablet {
      display: none;
    }

    opacity: 0;
    @include salute {
      animation-duration: 4000ms;
    }
  }

  &__4 {
    display: block;
    position: absolute;
    background-image: url('./images/salutes/Frame.svg');
    background-repeat: no-repeat;
    background-position: center;

    width: 268px;
    height: 268px;
    bottom: 104px;
    right: -2vw;
    
    @include on-desktop-L {
      width: 191px;
      height: 191px;
      top: 503px;
      right: -23px;
    }

    @include on-desktop-S {
      width: 166px;
      height: 167px;
      left: 875px;
      top: 477px;
    }

    @include iPad-mini {
      width: 166px;
      height: 167px;
      top: 589px;
      right: -20px;
    }

    @include tablet {
      display: none;
    }

    opacity: 0;
    @include salute {
      animation-duration: 4500ms;
    }
  }
}
