@import './mixins.scss';

.salutes {
  position: absolute;
  opacity: 0;

  &__1 {
    display: block;
    position: absolute;
    background-image: url('./images/salutes/salute1-XL.svg');
    background-repeat: no-repeat;
    background-position: center;

    width: 495px;
    height: 505px;

    top: 15.5vh;
    // top: 168px;
    left: 23.5vw;
    // left: 452px;
  }

  &__2 {
    display: block;
    position: absolute;
    background-image: url('./images/salutes/salute1-XL.svg');
    background-repeat: no-repeat;
    background-position: center;

    width: 445px;
    height: 454px;

    top: 46.5vh;
    // top: 502px;
    left: 42.5vw;
    // left: 818px;
  }

  &__3 {
    display: block;
    position: absolute;
    background-image: url('./images/salutes/salute5.svg');
    // background-image: url('./images/salutes/salute1-XL.svg');
    // background-image: url('./images/salutes/salute1-1x-XL.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // transform-origin: 50% 50%;

    width: 344px;
    height: 351px;

    // bottom: -22px;
    bottom: -2vh;
    // right: 119px;
    right: 6vw;
  }

  &__4 {
    display: block;
    position: absolute;
    background-image: url('./images/salutes/Frame.svg');
    background-repeat: no-repeat;
    background-position: center;

    width: 268px;
    height: 268px;

    bottom: 104px;
    right: 0;
  }

  animation-name: explosion;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
}


@keyframes explosion {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}
