@import './mixins.scss';

.spotlights {
  position: absolute;

  &__1 {
    display: block;
    position: absolute;
    z-index: 3;

    background-image: url('./images/spotlights/spotlights-R.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 770px;
    height: 550px;
    // left: 385px;
    left: 12.5vw;
    // bottom: 560px;
    bottom: 49.5vh;

    @include on-desktop-L {
      left: 9vw;
      bottom: 28vh;
      width: 644px;
      height: 644px;
    }
    
    @include tablet {
      display: none;
    }

    transform-origin: left center;
    @include spotlight {
      animation-duration: 3000ms;
    }
  }

  &__2 {
    display: block;
    position: absolute;
    z-index: 3;

    background-image: url('./images/spotlights/spotlights-L.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 970px;
    height: 970px;
    // left: 385px;
    left: -34.5vw;
    // bottom: 560px;
    bottom: 58.5vh;

    @include on-desktop-L {
      background-image: url('./images/spotlights/left.svg');
      width: 376px;
      height: 696px;
      bottom: 270px;
      left: -55px;
    }

    @include tablet {
      display: none;
    }

    transform-origin: right bottom;
    @include spotlight {
      animation-duration: 3500ms;
    }
  }

  &__3 {
    display: block;
    position: absolute;
    z-index: 3;

    // background-image: url('./images/spotlights/spotlights-R.svg');
    background-image: url('./images/spotlights/spot-to-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 770px;
    height: 550px;

    // left: 385px;
    left: 55.5vw;
    // bottom: 560px;
    bottom: -10.5vh;

    @include on-desktop-L {
      width: 670px;
      height: 503px;
      bottom: -13.5vh;
      left: 52.5vw;
    }

    @include tablet {
      bottom: 250px;
      left: -10px;
    }

    @include mobile {
      bottom: 240px;
      left: -6px;
    }

    transform-origin: left bottom;
    @include spotlight {
      animation-duration: 4000ms;
    }
  }
}
