@import './mixins.scss';

.spotlights {
  position: absolute;

  &__1 {
    display: block;
    position: absolute;
    z-index: 3;

    background-image: url('./images/spotlights/spotlights-R.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // width: 770px;
    // height: 550px;
    // left: 385px;
    left: 12.5vw;
    // bottom: 560px;
    bottom: 49.5vh;

    @include on-desktop-L {
      left: 9vw;
      bottom: 28vh;
      width: 644px;
      height: 644px;
    }

    @include on-desktop-S {
      background-image: url('./images/spotlights/spo-to-right-S.svg');
      // bottom: 38vh;
      bottom: 307px;
      // left: 14vw;
      left: 181px;
      transform: scale(0.6);
      width: 705px;
      height: 558px;
    }

    @include iPad-mini {
      background-image: url('./images/spotlights/spot-to-right-1-iPad.svg');
      // width: 350px;
      // height: 645px;
      bottom: 405px;
      left: 95px;
    }
    
    @include tablet {
      display: none;
    }

    transform-origin: 20% 70%;
    @include spotlight {
      animation-duration: 3000ms;
    }
  }

  &__2 {
    display: block;
    position: absolute;
    z-index: 3;

    background-image: url('./images/spotlights/spotlights-L.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 970px;
    height: 970px;
    // left: 385px;
    left: -34.5vw;
    // bottom: 560px;
    bottom: 58.5vh;

    @include on-desktop-L {
      background-image: url('./images/spotlights/left.svg');
      width: 376px;
      height: 696px;
      bottom: 270px;
      left: -55px;
    }

    @include on-desktop-S {
      background-image: url('./images/spotlights/spot-to-left-S.svg');
      width: 284px;
      height: 387px;
      top: 0;
      left: 0;
    }

    @include iPad-mini {
      background-image: url('./images/spotlights/spo-to-left-iPad.svg');
      top: -25px;
      left: -25px;
    }

    @include tablet {
      display: none;
    }

    transform-origin: right bottom;
    @include spotlight {
      animation-duration: 3500ms;
    }
  }

  &__3 {
    display: block;
    position: absolute;
    z-index: 3;

    // background-image: url('./images/spotlights/spotlights-R.svg');
    background-image: url('./images/spotlights/spot-to-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 770px;
    height: 550px;

    // left: 385px;
    left: 55.5vw;
    // bottom: 560px;
    bottom: -10.5vh;

    @include on-desktop-L {
      width: 670px;
      height: 503px;
      bottom: -13.5vh;
      left: 52.5vw;
    }

    @include on-desktop-S {
      background-image: url('./images/spotlights/spot-to-right2-S.svg');
      width: 750px;
      height: 600px;
      bottom: 200px;
      left: 500px;
    }

    @include iPad-mini {
      background-image: url('./images/spotlights/spot-to-right-iPad.svg');
      width: 335px;
      height: 617px;
      top: 172px;
      left: 389px;
    }

    @include tablet {
      bottom: 250px;
      left: -10px;
    }

    @include mobile {
      bottom: 240px;
      left: -6px;
    }

    transform-origin: left bottom;
    @include spotlight {
      animation-duration: 4000ms;
    }
  }
}
